<div class="section mdl-card mdl-shadow--3dp section-header mdl-color--amber-600">
    <div class="mdl-typography--title mdl-card__title mdl-color-text--white">Projects realized for:</div>
</div>
<div class="section mdl-card mdl-shadow--2dp mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
        <div class="section mdl-card mdl-shadow--2dp project-card">
            <div class="mdl-typography--title mdl-card__title mdl-color--amber-600">
                <a class="mdl-color-text--white mdl-navigation__link" href="http://www.pansa.pl">PAŻP</a>
            </div>
            <div class="mdl-card--border mdl-card__actions">
                <span class="perks">SKD</span>
                <span class="perks">SSWiN</span>
                <span class="perks">CCTV</span>
                <span class="perks">C#</span>
            </div>
            <div class="mdl-card__supporting-text">
                Installation and configuration of new security systems for whole site.
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <div class="section mdl-card mdl-shadow--2dp project-card">
            <div class="mdl-typography--title mdl-card__title mdl-color--amber-600">
                <a class="mdl-color-text--white mdl-navigation__link" href="http://onettechnologie.pl/onet-data-center/">Onet.pl</a>
            </div>
            <div class="mdl-card--border mdl-card__actions">
                <span class="perks">SKD</span>
                <span class="perks">SSWiN</span>
                <span class="perks">CCTV</span>
                <span class="perks">BMS</span>
                <span class="perks">Delphi</span>
            </div>
            <div class="mdl-card__supporting-text">
                Installation and configuration of security systems and Building Managment Systems in new data center. Writing programs for
                BMS.
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <div class="section mdl-card mdl-shadow--2dp project-card">
            <div class="mdl-typography--title mdl-card__title mdl-color--amber-600">
                <a class="mdl-color-text--white mdl-navigation__link" href="http://www.orange.pl">Orange</a>
            </div>
            <div class="mdl-card--border mdl-card__actions">
                <span class="perks">SKD</span>
                <span class="perks">SSWiN</span>
                <span class="perks">CCTV</span>
            </div>
            <div class="mdl-card__supporting-text">
                Installation and configuration of new security systems in new data center.
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <div class="section mdl-card mdl-shadow--2dp project-card">
            <div class="mdl-typography--title mdl-card__title mdl-color--amber-600">
                <a class="mdl-color-text--white mdl-navigation__link" href="http://www.galeriaecho.pl/pl/strona_glowna">ECHO Investment</a>
            </div>
            <div class="mdl-card--border mdl-card__actions">
                <span class="perks">BMS</span>
                <span class="perks">Delphi</span>
            </div>
            <div class="mdl-card__supporting-text">
                Installation and configuration of Building Managment Systems in large shopping mall.
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <div class="section mdl-card mdl-shadow--2dp project-card">
            <div class="mdl-typography--title mdl-card__title mdl-color--amber-600">
                <a class="mdl-color-text--white mdl-navigation__link" href="http://www.gik.gda.pl/42/inwestycje/zintegrowany_system_zarzadzania_ruchem_tristar.html">Gdańsk - TRISTAR</a>
            </div>
            <div class="mdl-card--border mdl-card__actions">
                <span class="perks">C#</span>
                <span class="perks">CCTV</span>
            </div>
            <div class="mdl-card__supporting-text">
                Writing distributed system for viewing camera feed.
            </div>
        </div>
    </div>
</div>