<div class="section mdl-card mdl-shadow--3dp section-header mdl-color--amber-600">
	<div class="mdl-typography--title mdl-card__title mdl-color-text--white">Jobs: </div>
</div>
<div class="section mdl-card mdl-shadow--2dp">
	<div class="mdl-typography--title mdl-card__title">ATSI S.A</div>
	<div class="mdl-card__title">09.2014 - present</div>
	<div class="mdl-card__title">Software developer</div>
	<div class="mdl-card--border mdl-card__actions">
		<ul>
			<li class="">Creating reporting portal.</li>
			<li class="">Integrating with other products.</li>
			<li class="">Writing tests.</li>
			<li class="">Creating automation environment.</li>
			<li class="">Implementing client requierements.</li>
			<li class="">Writning documentation.</li>
			<li class="">Scrum methodology.</li>
		</ul>
	</div>
	<div class="mdl-card__supporting-text">
		Mostly I've been creating new reporting portal. Daily solving new issues, working in Scrum methodology. 
		During this period I've also dive into Big Data world. Shifted focus more into Linux environment and open-software. 
		Focused mostly on Hadoop ecosystem.
	</div>
</div>
<div class="section mdl-card mdl-shadow--2dp">
	<div class="mdl-typography--title mdl-card__title">Qumak S.A</div>
	<div class="mdl-card__title">09.2008 - 09.2014</div>
	<div class="mdl-card__title">Building automation engineer</div>
	<div class="mdl-card--border mdl-card__actions">
		<ul>
			<li class="">Designing and implementintg of applications.</li>
			<li class="">Writing documentation.</li>
			<li class="">Managing harmonograms of works for project.</li>
			<li class="">Solving unforseen problems when integrating with exisitng systems.</li>
			<li class="">Programming and configuring varius building automation systems.</li>
		</ul>
	</div>
	<div class="mdl-card__supporting-text">
		It was quite challenging job. Software we have been using changed very often between project. 
		It required fast learning of those products. It give me a chance work with programming new software and also to do maunal work with installtion of hardware. 
		It also required knowledge about using and configuring network devices of various producents. 
		I also created documentations, and train people who later on used those systems. Often we prototyped some solutions to valide integrations options for our projectants. 
		Sometimes it was necessary to think up new solution on site during realization.
	</div>
</div>