<div class="section mdl-card mdl-shadow--3dp section-header mdl-color--amber-600">
	<div class="mdl-typography--title mdl-card__title mdl-color-text--white">Skills: </div>
</div>
<div class="section mdl-card mdl-shadow--2dp">
	<div class="mdl-typography--title mdl-card__title">Languages:</div>
	<div class="mdl-card--border mdl-card__actions">
		<span class="perks">C#</span>
		<span class="perks">SQL</span>
		<span class="perks">JavaScript/TypeScript</span>
		<span class="perks">HTML</span>
		<span class="perks">CSS</span>
	</div>
</div>
<div class="section mdl-card mdl-shadow--2dp">
	<div class="mdl-typography--title mdl-card__title">Frameworks:</div>
	<div class="mdl-card--border mdl-card__actions">
		<span class="perks">ASP.NET MVC 5</span>
		<span class="perks">WPF</span>
		<span class="perks">Entity Framework</span>
		<span class="perks">WIX</span>
		<span class="perks">Bootstrap</span>
		<span class="perks">jQuery</span>
		<span class="perks">NUnit</span>
		<span class="perks">SpecFlow</span>
	</div>
</div>
<div class="section mdl-card mdl-shadow--2dp">
	<div class="mdl-typography--title mdl-card__title">Tools:</div>
	<div class="mdl-card--border mdl-card__actions">
		<span class="perks">Visual Studio 2012</span>
		<span class="perks">Microsoft SQL Server Management</span>
		<span class="perks">Jenkins</span>
		<span class="perks">Unity 3d</span>
		<span class="perks">Blender</span>
	</div>
</div>
<div class="section mdl-card mdl-shadow--2dp">
	<div class="mdl-typography--title mdl-card__title">Basics:</div>
	<div class="mdl-card--border mdl-card__actions">
		<span class="perks">JAVA</span>
		<span class="perks">C++</span>
		<span class="perks">OpenGL</span>
		<span class="perks">Erlang</span>
	</div>
</div>
<div class="section mdl-card mdl-shadow--2dp">
	<div class="mdl-typography--title mdl-card__title">Learning stage:</div>
	<div class="mdl-card--border mdl-card__actions">
		<span class="perks">AngularJS</span>
		<span class="perks">NodeJS</span>
		<span class="perks">Hadoop</span>
		<span class="perks">Hbase</span>
		<span class="perks">Mongodb</span>
		<span class="perks">Redis</span>
		<span class="perks">Pentaho DI</span>
		<span class="perks">Influxdb</span>
		<span class="perks">Grafana</span>
		<span class="perks">Elasticsearch</span>
		<span class="perks">Kibana</span>
		<span class="perks">Kafka</span>
		<span class="perks">Storm</span>
		<span class="perks">Java</span>
	</div>
</div>

<div class="section mdl-card mdl-shadow--2dp">
	<div class="mdl-typography--title mdl-card__title">Others:</div>
	<div class="mdl-card--border mdl-card__actions">
		<span class="perks">CISCO</span>
		<span class="perks">Windows XP/7</span>
		<span class="perks">Linux (Ubuntu/CentOS)</span>
	</div>
</div>

<div class="section mdl-card mdl-shadow--2dp">
	<div class="mdl-typography--title mdl-card__title">Legacy stuff:</div>
	<div class="mdl-card--border mdl-card__actions">
		<span class="perks">Delphi</span>
		<span class="perks">BMS (Building automation systems) </span>
		<span class="perks">Acces control systems</span>
		<span class="perks">CCTV (Closed Circuit TeleVision)</span>
		<span class="perks">Security systems</span>
	</div>
</div>