<html>

<head>
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="styles/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<headr class="mdl-color--indigo-800 mdl-shadow--4dp mdl-color-text--white 
				mdl-layout__header ">
			<div class="mdl-typography--display-2 mdl-layout__header-row">
				Jarek Gajos
				<div class="mdl-typography--headline mdl-layout__header-row mdl-layout--large-screen-only">
					Software Developer
				</div>
				<div class="mdl-layout-spacer"></div>
				<button id="menu1" class="mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">more_vert</i>
				</button>
			</div>
		</headr>
		<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu1">
			<li class="mdl-menu__item"><a class="mdl-navigation__link" href="/">Skills</a></li>
			<li class="mdl-menu__item"><a class="mdl-navigation__link" href="/jobs">Jobs</a></li>
		</ul>
		<main class="mdl-layout__content">
			<div class="page-content">
				<div class="section mdl-card mdl-shadow--2dp">
					<div class="mdl-typography--title mdl-card__title">Languages:</div>
					<div class="mdl-card--border mdl-card__actions">
						<span class="perks">C#</span>
						<span class="perks">SQL</span>
						<span class="perks">JavaScript/TypeScript</span>
						<span class="perks">HTML</span>
						<span class="perks">CSS</span>
					</div>
				</div>
				<div class="section mdl-card mdl-shadow--2dp">
					<div class="mdl-typography--title mdl-card__title">Frameworks:</div>
					<div class="mdl-card--border mdl-card__actions">
						<span class="perks">ASP.NET MVC 5</span>
						<span class="perks">WPF</span>
						<span class="perks">Entity Framework</span>
						<span class="perks">WIX</span>
						<span class="perks">Bootstrap</span>
						<span class="perks">jQuery</span>
						<span class="perks">NUnit</span>
						<span class="perks">SpecFlow</span>
					</div>
				</div>
				<div class="section mdl-card mdl-shadow--2dp">
					<div class="mdl-typography--title mdl-card__title">Tools:</div>
					<div class="mdl-card--border mdl-card__actions">
						<span class="perks">Visual Studio 2012</span>
						<span class="perks">Microsoft SQL Server Management</span>
						<span class="perks">Jenkins</span>
						<span class="perks">Unity 3d</span>
						<span class="perks">Blender</span>
					</div>
				</div>
				<div class="section mdl-card mdl-shadow--2dp">
					<div class="mdl-typography--title mdl-card__title">Basics:</div>
					<div class="mdl-card--border mdl-card__actions">
						<span class="perks">JAVA</span>
						<span class="perks">C++</span>
						<span class="perks">OpenGL</span>
						<span class="perks">Erlang</span>
					</div>
				</div>
				<div class="section mdl-card mdl-shadow--2dp">
					<div class="mdl-typography--title mdl-card__title">Learning stage:</div>
					<div class="mdl-card--border mdl-card__actions">
						<span class="perks">AngularJS</span>
						<span class="perks">NodeJS</span>
						<span class="perks">Hadoop</span>
						<span class="perks">Hbase</span>
						<span class="perks">Mongodb</span>
						<span class="perks">Redis</span>
						<span class="perks">Pentaho DI</span>
						<span class="perks">Influxdb</span>
						<span class="perks">Grafana</span>
						<span class="perks">Elasticsearch</span>
						<span class="perks">Kibana</span>
						<span class="perks">Kafka</span>
						<span class="perks">Storm</span>
						<span class="perks">Java</span>
					</div>
				</div>

				<div class="section mdl-card mdl-shadow--2dp">
					<div class="mdl-typography--title mdl-card__title">Others:</div>
					<div class="mdl-card--border mdl-card__actions">
						<span class="perks">CISCO</span>
						<span class="perks">Windows XP/7</span>
						<span class="perks">Linux (Ubuntu/CentOS)</span>
					</div>
				</div>

				<div class="section mdl-card mdl-shadow--2dp">
					<div class="mdl-typography--title mdl-card__title">Legacy stuff:</div>
					<div class="mdl-card--border mdl-card__actions">
						<span class="perks">Delphi</span>
						<span class="perks">BMS (Building automation systems) </span>
						<span class="perks">Acces control systems</span>
						<span class="perks">CCTV (Closed Circuit TeleVision)</span>
						<span class="perks">Security systems</span>
					</div>
				</div>
			</div>
			<footer class="mdl-mega-footer">
				<div class="mdl-mege-footer__left-section">
					<div class="mdl-logo">Contact:</div>
					<ul class="mdl-mega-footer__link-list">
						<li><a href="mailto:jaroslaw.gajos@gmail.com">jaroslaw.gajos@gmail.com</a></li>
					</ul>
				</div>
			</footer>
		</main>
	</div>
</body>

</html>