<html>

<head>
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="styles/styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<headr class="mdl-color--indigo-800 mdl-shadow--4dp mdl-color-text--white 
				mdl-layout__header ">
			<div class="mdl-typography--display-1 mdl-layout__header-row">
				<span class="noSplit">Jarek Gajos</span>
				<div class="mdl-typography--headline mdl-layout__header-row mdl-layout--large-screen-only">
					Software Developper
				</div>
				<div class="mdl-layout-spacer"></div>
				<button id="menu1" class="mdl-button mdl-js-button mdl-button--icon">
					<i class="material-icons">more_vert</i>
				</button>
			</div>
		</headr>
		<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu1">
			<li class="mdl-menu__item"><a class="mdl-navigation__link" href="/#skills">Skills</a></li>
			<li class="mdl-menu__item"><a class="mdl-navigation__link" href="/#jobs">Jobs</a></li>
		</ul>
		<main class="mdl-layout__content mdl-color--grey-300">
			<div class="page-content">
				<div id="skills">
					<% include partials/skills %>
				</div>
				<div id="jobs">
					<% include partials/jobs %>
				</div>
			</div>
			<footer class="mdl-mega-footer">
				<div class="mdl-mege-footer__left-section">
					<div class="mdl-logo">Contact:</div>
					<ul class="mdl-mega-footer__link-list">
						<li><a href="mailto:jaroslaw.gajos@gmail.com">jaroslaw.gajos@gmail.com</a></li>
					</ul>
				</div>
			</footer>
		</main>
	</div>
</body>

</html>