<html>

<head>
      <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
      <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="styles/styles.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <headr class="mdl-color--indigo-800 mdl-shadow--4dp mdl-color-text--white 
				mdl-layout__header ">
                  <div class="mdl-typography--display-2 mdl-layout__header-row">
                        Jarek Gajos
                        <div class="mdl-typography--headline mdl-layout__header-row mdl-layout--large-screen-only">
                              Software Developer
                        </div>
                        <div class="mdl-layout-spacer"></div>
                        <button id="menu1" class="mdl-button mdl-js-button mdl-button--icon">
                              <i class="material-icons">more_vert</i>
                        </button>
                  </div>
            </headr>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu1">
                  <li class="mdl-menu__item"><a class="mdl-navigation__link" href="/">Skills</a></li>
                  <li class="mdl-menu__item"><a class="mdl-navigation__link" href="/jobs">Jobs</a></li>
            </ul>
            <main class="mdl-layout__content">
                  <div class="page-content">
                        <div class="section mdl-card mdl-shadow--2dp">
                              <div class="mdl-typography--title mdl-card__title">ATSI S.A</div>
                              <div class="mdl-card__title">09.2014 - present</div>
                              <div class="mdl-card__title">Software developer</div>
                              <div class="mdl-card--border mdl-card__actions">
                                    <ul>
                                          <li class="">Creating reporting portal.</li>
                                          <li class="">Integrating with other products.</li>
                                          <li class="">Writing tests.</li>
                                          <li class="">Creating automation environment.</li>
                                          <li class="">Implementing client requierements.</li>
                                          <li class="">Writning documentation.</li>
                                          <li class="">Scrum methodology.</li>
                                    </ul>
                              </div>
                              <div class="mdl-card__supporting-text">
                                    Mostly I've been creating new reporting portal. Daily solving new issues, working in Scrum methodology. During this period
                                    I've alos dive into Big Data world. Shifted focus more into Liux environment nad open-software.
                                    I've focused mostly on Hadoop ecosystem.
                              </div>
                        </div>
                        <div class="section mdl-card mdl-shadow--2dp">
                              <div class="mdl-typography--title mdl-card__title">Qumak S.A</div>
                              <div class="mdl-card__title">09.2008 - 09.2014</div>
                              <div class="mdl-card__title">Building automation engineer</div>
                              <div class="mdl-card--border mdl-card__actions">
                                    <ul>
                                          <li class="">Designing and implementintg of applications.</li>
                                          <li class="">Writing documentation.</li>
                                          <li class="">Managing harmonograms of works for project.</li>
                                          <li class="">Solving unforseen problems when integrating with exisitng systems.</li>
                                          <li class="">Programming and configuring varius building automation systems.</li>
                                    </ul>
                              </div>
                              <div class="mdl-card__supporting-text">
                                    It was quite challanging job. From project to project mostly 80% of used software was different. It give me a chcance work
                                    with programming new software and also with screw and dirver. It required from me knowlage
                                    about configuring network devices of various producents. Often we proptotyped some solutions
                                    to valide integrations options for our projectants. Sometimes it was neaccesary to think
                                    up new solution on site during realization.
                              </div>
                        </div>
                  </div>
            </main>
      </div>
</body>

</html>